{{#paper-toolbar accent=true}}
  <div class="md-toolbar-tools">
    <span class="md-breadcrumb-page">{{model.name}}</span>
  </div>
{{/paper-toolbar}}

{{#paper-list}}
  {{#each sortedContacts as |contact|}}
    {{#link-to "contact.group.detail" contact.id class="test-contact-link"}}
      {{#paper-item class="test-contact"}}
        {{paper-checkbox}}
        <p class="test-contact-name">{{contact.contactName}}</p>
        <p>{{contact.contactEmail}}</p>
        <p>{{contact.contactPhone}}</p>

        <span style="padding-right: 1rem;">{{paper-icon "star border"}}</span>
      {{/paper-item}}
    {{/link-to}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}
