{{#with model as |data|}}
  <div style="display: flex;">
    <h3 style="margin: 0; margin-top: 1rem;" class="test-data-name">{{data.contactName}}</h3>
    <span style="flex: 1"></span>
    {{#paper-button raised=true class="test-edit" action=(action "edit")}}Edit{{/paper-button}}
  </div>
  <hr>
  <div style="display:flex;">
    <span style="font-weight: bold;">{{data.contactName}}</span>
    <span style="font-weight: bold;">{{data.contactPhone}}</span>
	<span style="font-weight: bold;">{{data.contactEmail}}</span>
  </div>
{{/with}}
